/front-end/node_modules/
/front-end/.angular/
/front-end/dist/
/front-end/e2e/
/front-end/package-lock.json
/.idea/.gitignore
/.idea/.name
/.idea/discord.xml
/.idea/jsLibraryMappings.xml
/.idea/mean.iml
/.idea/modules.xml
/nodejs/node_modules/
/nodejs/package-lock.json
/nodejs/dist/
/mean-frontend/.vscode/
/nodejs/.env
/front-end/.env
/venv/
