/mean-frontend/node_modules/
/mean-frontend/.angular/
/mean-frontend/dist/
/mean-frontend/e2e/
/mean-frontend/package-lock.json
/.idea/.gitignore
/.idea/.name
/.idea/discord.xml
/.idea/jsLibraryMappings.xml
/.idea/mean.iml
/.idea/modules.xml
/nodejs/node_modules/
/nodejs/package-lock.json
/nodejs/dist/
/mean-frontend/.vscode/
