<mat-toolbar color="primary">
  <span class="spacer"></span>
  <button routerLink="ui/dashboard" mat-icon-button>
    <mat-icon>dashboard</mat-icon>
  </button>
  <span routerLink="ui/dashboard">Dashboard</span>
  <button routerLink="ui/scrapers" mat-icon-button>
    <mat-icon>code</mat-icon>
  </button>
  <span routerLink="ui/scrapers">Scrapers</span>
</mat-toolbar>

  <p class="text-center position-fixed text-white version-log">Version: Angular{{version}} - DEV{{versionPackage}}</p>

<router-outlet></router-outlet>
