@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

*{
  font-family: "Raleway", sans-serif!important; ;
}
html, body { height: 100%; }
body { margin: 0;
  background-color: #191B35
}

.nav-dark{
  background-color: #323259!important;
  color: white!important;
}


