/* You can add global styles to this file, and also import other style files */

*{
  font-family: "Raleway", sans-serif!important; ;
}
html, body { height: 100%; }
body { margin: 0;
  background-color: #191B35
}

mat-toolbar{
  background-color: #323259!important;
  color: white!important;
  height: 4em!important;
  box-shadow: #0f0f38 2px 2px 20px!important;
  font-weight: 500!important;
}

