<div class="row   g-0">

  <div class="col-xl-6 col-sm-12 align-content-center m-5 mx-auto">
       <div class="card shadow m-3 nebula-color text-white">
           <div class="card-body">
               <h2 class="card-title text-center text-uppercase">Centipede Project</h2>
                <p class="card-text">This is a project that I have been working on for a while now.</p>
                <p class="card-text">It is a simple scraping full stack application that will allow you execute your own python and javascript languages using an API.</p>
                <p class="card-text">The application also have a docker for a mysql database and any technology that you might want to test will probably work.</p>
                <p class="card-text">The API executes the spawn command making children nodes and executes those scripts based on your stack, you can execute frameworks also like puppeteer or selenium.</p>
                <p class="card-text">The application is still in development and I am working on the front end to make it more user friendly.</p>
                <p class="card-text">The application is open source and you can find it on my github.</p>
           </div>
       </div>
  </div>

</div>
