<mat-sidenav-container class="h-100">
  <mat-sidenav class="w-100" #sidenav mode="over" opened="false">

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-nav-list>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li><a routerLink="/scrapers" routerLinkActive="active">Scraper</a></li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon>code</mat-icon><span>Pupeteer Scraper</span>
  </mat-toolbar>

  <p class="text-center text-white version-log">Version: Angular{{version}} - DEV{{versionPackage}}</p>

</mat-sidenav-container>
<router-outlet></router-outlet>
